 body {
               background-color:#C2DED1;


            }

  hr {


       border-style: dotted none none ;
       border-color:grey;
       border-width:5px;
       width:10%

                }
